<nav style="display: flex;">
  <p-button (click)="back()" label="Back" styleClass="ui-button-info" icon="pi pi-chevron-left"></p-button>
</nav>


<div class="contents">

<h2> Labels </h2>
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <p-button (click)="addPrefix()" label="Add" styleClass="ui-button-info" icon="pi pi-plus"></p-button>
  </div>
  <div class="ui-toolbar-group-right">
    <p-button (click)="toDefaults()" label="Use Defaults" styleClass="ui-button-danger" icon="pi pi-exclamation-circle"></p-button>
  </div>
</p-toolbar>

<div *ngFor="let item of prefixColors; let i=index" class="ui-inputgroup">
  <span class="ui-inputgroup-addon" style="line-height: 2;">Prefix</span>
  <input class="colorinput" [(ngModel)]="item.prefix" (ngModelChange)="savePrefix()" pInputText />
  <span class="ui-inputgroup-addon">
    <p-colorPicker [(ngModel)]="item.color" (ngModelChange)="savePrefix()"></p-colorPicker>
  </span>
  <span class="ui-inputgroup-addon">
    <p-button (click)="removePrefix(i)" styleClass="ui-button-secondary" icon="pi pi-minus-circle"></p-button>
  </span>
</div>

<h2> Blacklist </h2>
List of serial devices that should not show up in the dropdown


</div>