<nav style="display: flex;">
  <button pButton (click)="back()" label="Back" class="p-button-info" icon="pi pi-chevron-left"></button>
</nav>


<div class="contents">

  <div class="settings-section">
  <p-table *ngIf="preferences" [columns]="cols" [value]="preferences.rules" [autoLayout]="true">
    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <button pButton (click)="addRule()" label="Add" class="p-button-info" icon="pi pi-plus"></button>
        <span style="margin-left: 20px">Used defined rules</span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width:2.5em"></th>
        <th *ngFor="let col of columns" class="p-p-{{col.priority}}" [pSortableColumn]="col.sort" [pSortableColumnDisabled]="!col.sort">
          {{col.header}}
          <p-sortIcon *ngIf="col.sort"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns"  let-index="rowIndex">
      <tr [pReorderableRow]="index">
        <td>
          <i class="pi pi-bars" style="display: flex;justify-content: center;" pReorderableRowHandle></i>
        </td>
        <td style="text-align: center; width: 2.25em">
          <p-checkbox [binary]="true"  name="groupname" [(ngModel)]="rowData.enabled" (ngModelChange)="saveRules()"></p-checkbox>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.template" (ngModelChange)="saveRules()">
            </ng-template>
            <ng-template pTemplate="output">
                {{rowData.template}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center; width: 2.25em">
          <p-colorPicker [(ngModel)]="rowData.color" (ngModelChange)="saveRules()" appendTo="body"></p-colorPicker>
        </td>
        <td class="destinations" style="text-align: center">
          <p-checkbox *ngFor="let p of plugins" [binary]="true"  name="groupname" [label]="p.name" [(ngModel)]="rowData.destinations[p.name]" (ngModelChange)="saveRules()"></p-checkbox>
        </td>
        <td style="text-align: center; width: 2.25em">
          <button pButton (click)="removeRule(index)" class="p-button-secondary" icon="pi pi-minus-circle"></button>
        </td>
      </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="empty-message">
          No rules available
        </td>
      </tr>
    </ng-template>

  </p-table>


  </div>
  <div class="settings-section">

  <p-table [columns]="cols.slice(0, -1)" [value]="fixedRules" [autoLayout]="true">
    <ng-template pTemplate="caption">
      <div style="text-align: left">
        Fixed rules provided by plugins
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="p-p-{{col.priority}}" [pSortableColumn]="col.sort" [pSortableColumnDisabled]="!col.sort">
          {{col.header}}
          <p-sortIcon *ngIf="col.sort"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns"  let-index="rowIndex">
      <tr>
        <td style="text-align: center; width: 2.25em">
          <p-checkbox [binary]="true"  name="groupname" [(ngModel)]="rowData.enabled" (ngModelChange)="saveRules()"></p-checkbox>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.template" (ngModelChange)="saveRules()">
            </ng-template>
            <ng-template pTemplate="output">
                {{rowData.template}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="text-align: center; width: 2.25em">
          <p-colorPicker [(ngModel)]="rowData.color" (ngModelChange)="saveRules()" appendTo="body"></p-colorPicker>
        </td>
        <td class="destinations" style="text-align: center">
          <p-checkbox *ngFor="let p of plugins" [binary]="true"  name="groupname" [label]="p.name" [(ngModel)]="rowData.destinations[p.name]" (ngModelChange)="saveRules()"></p-checkbox>
        </td>
      </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="empty-message">
          No rules available
        </td>
      </tr>
    </ng-template>

  </p-table>
  </div>

<h2> Blacklist </h2>
List of serial devices that should not show up in the dropdown


</div>