

<sw-ligthning-chart *ngIf="plotFramework === 'light'" [points]="points" [maxPoints]="maxPoints"></sw-ligthning-chart>
<sw-webgl-plot *ngIf="plotFramework === 'webgl'" [series]="series" [maxPoints]="maxPoints"></sw-webgl-plot>


<p-toolbar>

  <div class="p-toolbar-group-left">

    <p-selectButton [options]="plotFrameworks" [(ngModel)]="plotFramework"></p-selectButton>

  </div>

  <div class="p-inputgroup">
    <span class="p-inputgroup-addon">
      <span><b>Max Points</b></span>
    </span>
    <input pInputText type="number" step=100 placeholder="1000" [(ngModel)]="maxPoints" />
    <button pButton (click)="clear()" label="clear" pTooltip="Clear plot contents" showDelay="1000" class="p-button-warning" icon="pi pi-times"></button>
  </div>

  <div class="p-toolbar-group-right">
  </div>


</p-toolbar>

