
:host {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.chart-container {
  flex: 1;
}

.dark-theme {
  color: white;
  background: rgba(0, 0, 0, 0.762);
  --background-overlay: black;
}