<p-toolbar>
  <p-selectButton [options]="inputOptions" [(ngModel)]="inputMethod"></p-selectButton>
  <form class="p-inputgroup cmd-form" [formGroup]="cmdForm" (submit)="sendCMD()">
      <span class="p-inputgroup-addon">
      <span *ngIf="inputMethod == 'HEX'"><b>0x</b></span>
      <span *ngIf="inputMethod == 'ASCII'"><b>></b></span>
    </span>
    <input pInputText formControlName="cmd" type="text" placeholder="Command" />
    <button [disabled]="!cmdForm.valid" class="p-button-success" pButton type="submit" label="SEND"></button>
    <button pButton (click)="clear()" label="clear" pTooltip="Clear terminal contents" showDelay="1000" class="p-button-warning" icon="pi pi-times"></button>
  </form>
  <div class="missed" pTooltip="Number of filtered out lines of text" showDelay="400">missed: {{num_missed$ | async}}</div>
</p-toolbar>

<ng-keyboard-shortcuts-help [key]="'f1'" [closeKey]="'escape'" [title]="'Help'"></ng-keyboard-shortcuts-help>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
