@import 'variables';

header {
  background-color: lightgrey;
  display: flex;
  padding: 4px;
}

header > * {
  margin-right: 16px;
}

.pi-circle-on.not-available {
  color: grey;
}
.pi-circle-on.connected {
  color: $success-color;
}
.pi-circle-on.disconnected {
  color: $error-color;
}
.greenbg {
  background-color: $success-color;
}
.redbg {
  background-color: $error-color;
}

.device {
  display: flex;
  align-items: center;
  .pi-circle-on {
    margin-right: 16px;
  }
  .device-meta {
    color: gray;
  }

  .strike {
    text-decoration: line-through;
    color: grey;
  }
}
