@import 'variables';

.container {
  height: 100vh; /* establish fixed height */
  display: flex;
  flex-flow: column nowrap;
}

.terminal-wrapper {
  flex: 1 1 20%;
  // Somehow a height or min-height is needed to prevent terminal from expanding this wrapper
  min-height: 20%;
}

.plot-wrapper {
  flex: 2 1 50%;
  // Somehow a height or min-height is needed to prevent terminal from expanding this wrapper
  min-height: 50%;
}