@import 'variables';

:host {
  display: flex;
  flex-flow: column;
}

.container {
  height: 100%;
  height: 100vh; /* establish fixed height */

  // background: url(../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: black;
    margin: 0;
    padding: 50px 20px;
  }

  color: black;

  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.terminal-wrapper {
  flex: 1 1 auto;
  // Somehow a height or min-height is needed to prevent terminal from expanding this wrapper
  min-height: 20%;
  max-height: calc(100vh - #{$footer-height} - #{$header-height});
}


.plot-wrapper {
  flex: 3 0 auto;
  // Somehow a height or min-height is needed to prevent terminal from expanding this wrapper
  min-height: 20%;
  max-height: calc(100vh - #{$footer-height} - #{$header-height});
}